.header__navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 150px;
}
.header__title {
  font-size: 32px;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style: none;
}
.header__list-text {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

@media (max-width: 767px) {
  .header__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__title {
    text-align: center;
    font-size: 32px;
  }
  .header__list {
    display: none;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .header__list-text {
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
}
.hero {
  padding: 0 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.hero__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero__title {
  font-size: 32px;
  margin: 0;
}
.hero__text {
  font-size: 18px;
  max-width: 500px;
}
.hero__img {
  width: 400px;
  height: 400px;
}

@media (max-width: 767px) {
  .hero {
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  .hero__title {
    text-align: left;
  }
  .hero__text {
    max-width: 100%;
  }
  .hero__img {
    width: 100%;
    max-width: 390px;
    height: auto;
  }
}
.My__project-apple {
  padding: 0 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.My__project-apple-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.My__project-apple-box-title {
  text-align: center;
  font-size: 32px;
  margin: 0;
}
.My__project-apple-box-text {
  font-size: 18px;
  max-width: 400px;
}
.My__project-apple-box-img {
  width: 260px;
  height: 260px;
}

@media (max-width: 767px) {
  .My__project-apple {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .My__project-apple-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .My__project-apple-box-title {
    font-size: 32px;
    margin: 0;
  }
  .My__project-apple-box-text {
    text-align: center;
    font-size: 18px;
    max-width: 400px;
  }
  .My__project-apple-box-img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
.My__project-scoot {
  margin-top: 35px;
  padding: 0 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.My__project-scoot-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.My__project-scoot-box-title {
  text-align: center;
  font-size: 32px;
  margin: 0;
}
.My__project-scoot-box-text {
  font-size: 18px;
  max-width: 400px;
  text-align: start;
}
.My__project-scoot-box-img {
  width: 250px;
  height: 250px;
}

@media (max-width: 767px) {
  .My__project-scoot {
    margin-top: 35px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .My__project-scoot-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .My__project-scoot-box-title {
    font-size: 32px;
    margin: 0;
  }
  .My__project-scoot-box-text {
    font-size: 18px;
    max-width: 400px;
    text-align: center;
  }
  .My__project-scoot-box-img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
.My__project-trafalgar {
  margin-top: 35px;
  padding: 0 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.My__project-trafalgar-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.My__project-trafalgar-box-title {
  text-align: center;
  font-size: 32px;
  margin: 0;
}
.My__project-trafalgar-box-text {
  font-size: 18px;
  max-width: 400px;
  text-align: start;
}
.My__project-trafalgar-box-img {
  width: 250px;
  height: 250px;
}

@media (max-width: 767px) {
  .My__project-trafalgar {
    margin-top: 35px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .My__project-trafalgar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .My__project-trafalgar-box-title {
    font-size: 32px;
    margin: 0;
  }
  .My__project-trafalgar-box-text {
    text-align: center;
    font-size: 18px;
    max-width: 400px;
  }
  .My__project-trafalgar-box-img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
.My__project-polar {
  margin-top: 35px;
  padding: 0 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.My__project-polar-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.My__project-polar-box-title {
  text-align: center;
  font-size: 32px;
  margin: 0;
}
.My__project-polar-box-text {
  font-size: 18px;
  max-width: 400px;
  text-align: start;
}
.My__project-polar-box-img {
  width: 250px;
  height: 250px;
}

@media (max-width: 767px) {
  .My__project-polar {
    margin-top: 35px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .My__project-polar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .My__project-polar-box-title {
    font-size: 32px;
    margin: 0;
  }
  .My__project-polar-box-text {
    text-align: center;
    font-size: 18px;
    max-width: 400px;
  }
  .My__project-polar-box-img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
.My__project-shortly {
  margin-top: 35px;
  padding: 0 150px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.My__project-shortly-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.My__project-shortly-box-title {
  text-align: center;
  font-size: 32px;
  margin: 0;
}
.My__project-shortly-box-text {
  font-size: 18px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.My__project-shortly-box-img {
  width: 250px;
  height: 285px;
}

@media (max-width: 767px) {
  .My__project-shortly {
    margin-top: 35px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .My__project-shortly-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .My__project-shortly-box-title {
    font-size: 32px;
    margin: 0;
  }
  .My__project-shortly-box-text {
    text-align: center;
    font-size: 18px;
    max-width: 400px;
  }
  .My__project-shortly-box-img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
.My__other-project {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 20px;
  justify-content: center;
}
.My__other-project-box {
  gap: 15px;
}
.My__other-projects-titles {
  font-size: 32px;
  margin: 0;
}
.My__other-project-box-text {
  font-size: 18px;
}

@media (max-width: 767px) {
  .My__other-project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .My__other-project-box {
    gap: 15px;
  }
  .My__other-projects-titles {
    font-size: 25px;
    margin: 0;
  }
  .My__other-project-box-text {
    font-size: 18px;
  }
}
@media (max-width: 400px) {
  .My__other-project {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .My__other-project-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .My__other-projects-titles {
    font-size: 24px;
  }
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}
.footer__box {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.footer__box-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__box-text {
  text-align: start;
  font-size: 18px;
}
.footer__box-img-tg {
  width: 50px;
  height: 50px;
}
.footer__box-img-gmail {
  width: 50px;
  height: 50px;
}

.mybutton {
  background-color: inherit;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 34px;
  border-radius: 10px;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.mybutton::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: inherit;
  border-radius: 4px;
  z-index: -2;
}

.mybutton::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  background-color: black;
  transition: width 0.3s ease;
  z-index: -1;
}

.mybutton:hover {
  color: white;
}

.mybutton:hover::before {
  width: 100%;
}

:root {
  --white: #ffffff;
  --black: #000000;
}

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background-color: var(--white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--black);
  border-radius: 10px;
}

::-moz-selection {
  background-color: var(--black);
  color: var(--white);
}

::selection {
  background-color: var(--black);
  color: var(--white);
}

*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Lexend Deca", "Space Mono";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  color: var(--black);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.Projects__title {
  text-align: center;
  font-size: 32px;
}

.project__link {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */