.My {

    &__other-project {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        gap: 20px;
        justify-content: center;
    }

    &__other-project-box {
        gap: 15px;
    }

    &__other-projects-titles {
        font-size: 32px;
        margin: 0;
    }

    &__other-project-box-text {
        font-size: 18px;
    }
}

@media(max-width: 767px) {
    .My {

        &__other-project {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        &__other-project-box {
            gap: 15px;
        }

        &__other-projects-titles {
            font-size: 25px;
            margin: 0;
        }

        &__other-project-box-text {
            font-size: 18px;
        }
    }
}

@media (max-width: 400px) {
    .My {
        &__other-project {
            grid-template-columns: 1fr;
            gap: 10px;
        }

        &__other-project-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
        }

        &__other-projects-titles {
            font-size: 24px;
        }
    }
}